<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="manezaextensions" translate="label" sortOrder="1">
            <label>Pool Extensions</label>
        </tab>
        <section id="manezacalculator" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Pool Calculator</label>
            <tab>manezaextensions</tab>
            <resource>Maneza_Calculator::system_config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" 
                   showInWebsite="1" 
                   showInStore="1">
                <label>General Settings</label>
                <field id="enable_in_frontend" translate="label" type="select" sortOrder="1"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable in frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>

